/src/netbeans/libBusinessDatabase/libBusinessDatabase/build/
/src/netbeans/libBusinessDatabase/libBusinessDatabase/dist/
clientdb/src/CMakeCache.txt
clientdb/src/CMakeFiles/
clientdb/src/CPackConfig.cmake
clientdb/src/CPackSourceConfig.cmake
clientdb/src/Makefile
clientdb/src/cmake_install.cmake
clientdb/src/config.h
clientdb/src/developing
clientdb/src/libtoolkit-clientdb.a
clientdb/test/CMakeCache.txt
clientdb/test/CMakeFiles/
clientdb/test/Makefile
clientdb/test/cmake_install.cmake
clientdb/test/temp.txt
clientdb/test/testing
common/src/CMakeCache.txt
common/src/CMakeFiles/
common/src/CPackConfig.cmake
common/src/CPackSourceConfig.cmake
common/src/Makefile
common/src/cmake_install.cmake
common/src/config.h
common/src/libtoolkit-common.a
common/tests/CMakeCache.txt
common/tests/CMakeFiles/
common/tests/Makefile
common/tests/cmake_install.cmake
common/tests/temp.txt
common/tests/testing
clientdb/src/src.kdev4
common/build-*/
common/build/*
clientdb/.kdev4/
clientdb/build/
clientdb/clientdb.kdev4
clientdb/config.h
common/config.h
common/main
common/main.o
clientdb/build-*
codes/src/apidb/.kdev4
codes/src/apidb/apidb.kdev4
codes/src/apidb/build/*
codes/src/apidb/config.h
common/.kdev4/
common/common.kdev4
objects/objects.kdev4
objects/config.h
objects/build-*/*
codes/src/apidb/build-*/*
common/Version.java
/maven/maven-archetype-plain-java/target/
/common/target/
/clientdb/target/
/clientdb/nbproject/
objects/.kdev4/
/common/nbproject/
clientdb/versionInfo-myc++.h
clientdb/versionInfo-pqc++.h
common/Makefile-parserC
common/autom4te.cache/
common/config.log
common/config.status
common/local.mk
common/parserVersion-C++/Makefile
common/parserVersion-C++/local.mk
common/parserVersion-C++/location.hh
common/parserVersion-C++/parser.cc
common/parserVersion-C++/parser.hh
common/parserVersion-C++/scanner.cc
clientdb/versionInfo-myc++.h
clientdb/versionInfo-pqc++.h
common/Makefile-parserC
common/autom4te.cache/
common/config.log
common/config.status
common/versionInfo-c++.h
MANIFEST
common/configure
dist/*
common/.classpath
common/.project
common/.settings/
common/parserVersion-Java/
common/tests/version
common/version-reader-c++/Makefile
common/version-reader-c++/README.md
doc
common/version-reader-c++/lex.backup


Debug
version-reader/Debug
old
version-reader/old
.anjuta*
version-reader/.anjuta*
.kde*
version-reader/.kde*
*~
version-reader/*~
build-c
build-c++
version-reader/build-c
version-reader/build-c++
auto*.cache
version-reader/auto*.cache
*.anjuta
version-reader/*.anjuta
*.kdev4
version-reader/*.kdev4
buiild-*
CMakeCacheFiles
common/versionInfo-c.h
