/src/netbeans/libBusinessDatabase/libBusinessDatabase/build/
/src/netbeans/libBusinessDatabase/libBusinessDatabase/dist/
clientdb/src/CMakeCache.txt
clientdb/src/CMakeFiles/
clientdb/src/CPackConfig.cmake
clientdb/src/CPackSourceConfig.cmake
clientdb/src/Makefile
clientdb/src/cmake_install.cmake
clientdb/src/config.h
clientdb/src/developing
clientdb/src/libtoolkit-clientdb.a
clientdb/test/CMakeCache.txt
clientdb/test/CMakeFiles/
clientdb/test/Makefile
clientdb/test/cmake_install.cmake
clientdb/test/temp.txt
clientdb/test/testing
common/src/CMakeCache.txt
common/src/CMakeFiles/
common/src/CPackConfig.cmake
common/src/CPackSourceConfig.cmake
common/src/Makefile
common/src/cmake_install.cmake
common/src/config.h
common/src/libtoolkit-common.a
common/tests/CMakeCache.txt
common/tests/CMakeFiles/
common/tests/Makefile
common/tests/cmake_install.cmake
common/tests/temp.txt
common/tests/testing
clientdb/src/src.kdev4
common/build-*/
clientdb/.kdev4/
clientdb/build/
clientdb/clientdb.kdev4
clientdb/config.h
common/config.h
common/main
common/main.o
clientdb/build-*
codes/src/apidb/.kdev4
codes/src/apidb/apidb.kdev4
codes/src/apidb/build/*
codes/src/apidb/config.h
common/.kdev4/
