Debug
version-reader/Debug
common/version-reader/Optimized
old
version-reader/old
.anjuta*
version-reader/.anjuta*
.kde*
version-reader/.kde*
*~
version-reader/*~
build-c
build-c++
version-reader/build-c
version-reader/build-c++
auto*.cache
version-reader/auto*.cache
*.anjuta
version-reader/*.anjuta
*.kdev4
version-reader/*.kdev4
buiild-*
CMakeCacheFiles
common/versionInfo-c.h
clientdb/build-myc++
common/build-c++
build/
clientdb/versionInfo-myc++.h
common/version-reader/aclocal.m4
common/version-reader/compile
common/version-reader/config.guess
common/version-reader/config.h.in
common/version-reader/config.sub
common/version-reader/configure
common/version-reader/depcomp
common/version-reader/install-sh
common/version-reader/intltool-extract.in
common/version-reader/intltool-merge.in
common/version-reader/intltool-update.in
common/version-reader/ltmain.sh
common/version-reader/missing

